<div th:fragment="popup-create-task">
    <a href="#popup" class="tabs_addAccount popup-link">Создать задачу</a>
    <div id="popup" class="popup">
        <div class="popup_body">
            <div th:switch="${users}" class="popup_content">
                <a href="#header" class="popup_close close-popup">X</a>
                <div class="popup_title">Создать задачу</div>
                <div class="popup_text">
                    <div>
                        <label for="executor">Исполнитель:</label>
                        <select  type="text" id="executor" class="popup_field" required autocomplete="off">
                            <option th:each="employeehr:${employeesHr}"
                                    th:text="${employeehr.employee.user.surname} + ' ' + ${employeehr.employee.user.username} + ' ' + ${employeehr.employee.user.fathersName}">
                            </option>
                        </select>
                    </div>
                    <div>
                        <label for="start_date">Дата начала:</label>
                        <input type="date" id="start_date" class="popup_field" name="date">
                    </div>
                    <div>
                        <label for="deadline">Дэдлайн:</label>
                        <input type="date" id="deadline" class="popup_field" name="date">
                    </div>
                    <div>
                        <label for="task">Задача:</label>
                        <input type="text" id="task" class="popup_field" required autocomplete="off">
                    </div>
                    <div>
                        <label for="select_lid">Выбор лида:</label>
                        <select type="text" id="select_lid" class="popup_field" required autocomplete="off">
                            <option
                                    th:each="user:${users}"
                                    th:text="${user.id} + ' ' + ${user.surname} + ' ' + ${user.username} + ' ' + ${user.fathersName}"


                            >
                            </option>
                        </select>
                    </div>
                    <div>
                        <button class="popup_button" type="submit">Создать задачу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/popup.js/"></script>

