<div th:fragment="popup-searchtaem" xmlns:th="http://www.w3.org/1999/xhtml">

    <a href="#popup_8" class="tabs_addAccount popup-link">Подобрать команду</a>
    <div id="popup_8" class="popup">
        <div class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close close-popup">X</a>
                <div class="popup_title">Добавить поле должности</div>
                <div class="popup_text">
                    <form th:action='@{/searchteam}'
                          method="post"
                          th:object="${tags}">
                        <button class="tabs_change tabs_change"><a>Добавить</a></button>
                        <p></p>

                        <table class="table_team_search">
                            <thead>
                            <tr>
                                <th>
                                    <div>
                                        <legend class="team_lable">Выберите теги:</legend>
                                        <p th:switch="${tags}" class="checkbox-group">
                                        <p th:each="tag : ${tags}">
                                            <input class="checkbox" type="checkbox" id="tag" name="idChecked"
                                                   value="tags"><label
                                                for="tag"><i th:text="${tag.name}"></i></label>

                                            <select th:class="hiddenElement">
                                                <option value="0" selected>-Без навыков-</option>
                                                <option value="1">Базовый</option>
                                                <option value="2">Продвинутый</option>
                                                <option value="3">Эксперт</option>
                                            </select>
                                        </p>
                                        </p>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <legend class="team_lable">Выберите статус:</legend>
                                        <div th:switch="${statususer}" class="checkbox-group">
                        <span th:each="status : ${statususer}">
            <p><input type="checkbox" id="status" name="idChecked" value="status">
            <label for="status"><i th:text="${status.name}"></i></label></p>
                        </span>
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <div>
                                        <legend class="team_lable">Выберите должность:</legend>
                                        <div th:switch="${postname}" class="checkbox-group">
                        <span th:each="post : ${postname}">
            <p><input type="checkbox" id="post" name="idChecked" value="post">
            <label for="post"><i th:text="${post.name}"></i></label></p>
                        </span>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                        </table>

                    </form>

                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
                    <script type="text/javascript">
    $(document).ready(function() {
        $(".checkbox").change(function () {
            $(this).parent().find('select').css("visibility", "visible");
        })
    });
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>