* {
    box-sizing: border-box;
}

body {
    background: #000000;
    font-family: 'Roboto', sans-serif;
}

.entry_form {
    max-width: 350px;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;
    background: #5b5b5b;
}

.entry_form h3 {
    position: relative;
    z-index: 5;
    margin: 15px 0 100px;
    text-align: center;
    color: #ffffff;
    font-size: 35px;
    font-weight: normal;
}

.form_row {
    position: relative;
    margin-bottom: 40px;
}

.form_row input {
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    background: none;
    border-width: 0;
    border-bottom: 2px solid #ffffff;
    transition: all 0.2s ease;
}

.form_row label {
    position: absolute;
    left: 10px;
    color: #eeeeee;
    font-size: 20px;
    font-weight: 300;
    transform: translateY(-40px);
    transition: all 0.2s ease;
}

.form_row input:focus {
    outline: 0;
    border-color: #8d8d8d;
}

.form_row input:focus + label, .form_row input:valid + label {
    transform: translateY(-60px);
    margin-left: -14px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    border-color: #d5d2d2;
    color: #d5d2d2;
}

.entry_form button[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: none;
    color: white;
    font-size: 20px;
}

.entry_form button {
    margin: 0;
    padding-top: 10px;
}

.alert {
    margin-bottom: 40px;
    color: #000000;
}

