<!--<div th:fragment="popup-infoIT">-->


<!--    <a href="#popup_3" class="tabs_addAccount popup-link">ИНФО</a>-->
<!--    <div id="popup_3" class="popup">-->
<!--        <div th:switch="${employeesIt}" class="popup_body">-->
<!--            <div class="popup_content">-->
<!--                <a href="#header" class="popup_close close-popup">X</a>-->
<!--                <div class="popup_title">Информация о сотруднике</div>-->
<!--                <div>-->
<!--                    <label>ID:</label>-->
<!--                    <span th:text="${employeeit.id}">ID:</span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label>Фамилия:</label>-->
<!--                    <span th:text="${employeeit.employee.user.surname}"></span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label>Имя:</label>-->
<!--                    <span th:text="${employeeit.employee.user.username}"></span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label>Отчество:</label>-->
<!--                    <span th:text="${employeeit.employee.user.fathersName}"></span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label>Почта:</label>-->
<!--                    <span th:text="${employeeit.employee.user.email}"></span>-->
<!--                    <input type="text" id="email" placeholder="редактировать email">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label>Должность:</label>-->
<!--                    <span th:text="${employeeit.employee.post.post}"></span>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <label>Проект:</label>-->
<!--                    <span th:text="${employeeit.project.projectName}"></span>-->
<!--                </div>-->
<!--&lt;!&ndash;                <div>&ndash;&gt;-->
<!--&lt;!&ndash;                    <label>Тэги:</label>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span th:text="${employeeit.tag.tag}"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--                <div>-->
<!--                    <button class="popup_button" type="submit">ОК</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<script src="/popup.js/"></script>-->
