<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta username="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css/"/>
    <title>Сотрудники</title>
</head>
<body>
<div class="wrapper">
    <div th:switch="${employees}" class="contents">
        <div class="tabs">
            <header th:insert="blocks/header :: header"> </header>
            <div class="tabs_body">
                <div id="tab_menu" class="tabs_block"></div>
                <div id="tab_task" class="tabs_block"></div>
                <div id="tab_employee" class="tabs_block">
                    <div>
<!--                        <div th:insert="popups/popup_acount :: popup_acount">  </div>-->
                        <div class="table_and_search">
                            <div class="table">
                                <div>
                                    <table id="employeeTable" class="table">
                                        <thead>
                                        <tr>
                                            <th onclick="sortTableEmployee(0)">ID</th>
                                            <th onclick="sortTableEmployee(1)">ФИО</th>
                                            <th onclick="sortTableEmployee(2)">Статус</th>
                                            <th onclick="sortTableEmployee(3)">Должность</th>
                                            <th onclick="sortTableEmployee(4)">Проект</th>
<!--                                            <th onclick="sortTableEmployee(5)">Тэги</th>-->
<!--                                            <th onclick="sortTableEmployee(6)">Навыки</th>-->
                                            <th> </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="employeeit:${employeesIt}">
                                            <td th:text="${employeeit.id}"></td>
                                            <td th:text="${employeeit.employee.user.surname} + ' ' + ${employeeit.employee.user.username} + ' ' + ${employeeit.employee.user.fathersName}"></td>
                                            <td th:text="${employeeit.employee.status.name}"></td>
                                            <td th:text="${employeeit.employee.post.name}"></td>
                                            <td th:text="${employeeit.project.projectName}"></td>
                                            <td><a th:href="'/info/employeeit/'+ ${employeeit.id}" class="tabs_info_user tabs_info_user">ИНФО</a></td>
<!--                                           <td><div th:insert="popups/popup-infoIT :: popup-infoIT"></div></td>-->

                                        </tr>
                                        <tr th:each="employeehr:${employeesHr}">
                                            <td th:text="${employeehr.id}"></td>
                                            <td th:text="${employeehr.employee.user.surname} + ' ' + ${employeehr.employee.user.username} + ' ' + ${employeehr.employee.user.fathersName}"></td>
                                            <td th:text="${employeehr.employee.status.name}"></td>
                                            <td th:text="${employeehr.employee.post.name}"></td>
                                            <td></td>
                                            <td><a th:href="'/info/employeehr/'+ ${employeehr.id}" class="tabs_info_user tabs_info_user">ИНФО</a></td>
<!--                                            <td><div th:insert="popups/popup-infoHR :: popup-infoHR"></div></td>-->

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="search">
                                <form action="" method="get">
                                    <div><p class="search_name">ФИО:</p><input id="nameInputEmployee"
                                                                               onkeyup="searchByNameEmployee()"
                                                                               name="name_search" type="search"></div>
                                    <div><p class="search_name">Должность:</p><input id="postInputEmployee"
                                                                                     onkeyup="searchByPostEmployee()"
                                                                                     name="post_search" type="search">
                                    </div>
                                    <div><p class="search_name">Тэги:</p><input id="tagInputEmployee"
                                                                                onkeyup="searchByTagEmployee()"
                                                                                name="tags_search" type="search"></div>
                                    <div><p class="search_name">Проект:</p><input id="projectInputEmployee"
                                                                                  onkeyup="searchByProjectEmployee()"
                                                                                  name="project_search" type="search">
                                    </div>
                                    <div><p class="search_name">ID:</p><input id="idInputEmployee"
                                                                              onkeyup="searchByIdEmployee()"
                                                                              name="id_search" type="search"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="tab_candidate" class="tabs_block"></div>
                <div id="tab_team" class="tabs_block"></div>
            </div>
        </div>
    </div>
</div>
<script src="/popup.js/"></script>
</body>
</html>