<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/styleEntry.css"/>
    <title>Вход в программу</title>
</head>
<body>
<form action="" class="entry_form">
    <h3>Вход</h3>
    <div class="form_row">
        <input type="text" id="username" required autocomplete="off"><label for="username">Логин</label>
    </div>
    <div class="form_row">
        <input type="password" id="password" required autocomplete="off"><label for="password">Пароль</label>
    </div>
    <div class="button_entry"> <p><input type="submit" value="Войти"></p></div>
</form>
</body>
</html>