<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css/"/>
    <title>Меню</title>
</head>
<body>
<div class="wrapper">
    <div class="contents">
        <div class="tabs">
            <header id="header" class="header lock-padding">
                <nav class="tabs_items">
                    <a href="#tab_menu" class="tabs_item"><span>Меню</span></a>
                    <a href="task.html" class="tabs_item"><span>Задачи</span></a>
                    <a href="employee.html" class="tabs_item"><span>Сотрудники</span></a>
                    <a href="candidate.html" class="tabs_item"><span>Соискатели</span></a>
                    <a href="team.html" class="tabs_item"><span>Сбор Команды</span></a>
                </nav>
            </header>
            <div class="tabs_body">
                <div id="tab_menu" class="tabs_block">
                    <div><a href="" class="tabs_exit popup-link">Выход из системы</a></div>

                </div>
                <div id="tab_task" class="tabs_block"></div>
                <div id="tab_employee" class="tabs_block"></div>
                <div id="tab_candidate" class="tabs_block"></div>
                <div id="tab_team" class="tabs_block"></div>
            </div>
        </div>
    </div>
</div>
</html>