<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<form action="#" th:action="@{/info/{id}(id=${employees.id})}" th:object="${employees}" method="post">
<head>
    <meta charset="UTF-8">
    <meta username="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css/"/>
    <title>ИНФО</title>
</head>
<body>
<!--<div th:switch="${employees}"  id="popup_3" class="popup">-->
    <div class="popup_body">

<!--        <div action="#" th:action="@{/info/{id}(id=${employees.id})}" th:object="${employees}" id="popup_3" class="popup">-->
        <div class="popup_content">
            <a href="/close" class="popup_close close-popup">X</a>
            <div class="popup_title">Информация о сотруднике</div>
<!--            <div th:each="user:${users}" class="popup_text">-->
<!--                <div>-->
<!--                    <label th:text="${user.id}">ID:</label>-->
<!--                </div>-->
                <div>
                    <label th:text="${employees.user.surname}">Фамилия:</label>
                </div>
                <div>
                    <label th:text="${employees.user.username}">Имя:</label>
                </div>
                <div>
                    <label th:text="${employees.user.fathersName}">Отчество:</label>
                </div>
                <div>
                    <label th:text="${employees.user.email}">Почта:</label>
                </div>
                <div>
                    <button class="popup_button" type="submit">Создать аккаунт сотрудника</button>
                </div>
            </div>
            </div>

<!--    </div>-->
<!--</div>-->
<script src="/popup.js/"></script>
</body>
</form>
</html>