<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action="@{/info/{id}(id=${employee.id})}" th:object="${employee}" method="post">
    <head>
        <meta charset="UTF-8">
        <meta username="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/style.css/"/>
        <title>ИНФО</title>
    </head>
    <body>
    <!--    <div id="popup_3" class="popup">-->
    <div class="popup_body">
        <div class="popup_content">
            <a href="/close" class="popup_close close-popup">X</a>
            <div class="popup_title">Информация о сотруднике</div>
            <table class="table_info">
                <tbody>
                <tr>
                    <td>
                            <label>ID:</label>
                    </td>
                    <td>
                        <span th:text="${employee.id}">ID:</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                            <label>Фамилия:</label>
                    </td>
                    <td>
                        <span th:text="${employee.user.surname}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                            <label>Имя:</label>
                    </td>
                    <td>
                        <span th:text="${employee.user.username}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                            <label>Отчество:</label>
                    </td>
                    <td>
                        <span th:text="${employee.user.fathersName}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                            <label>Почта:</label>
                    </td>
                    <td>
                        <span th:text="${employee.user.email}"></span>
                    </td>
                    <td>
                        <div class="text-field_group">
                            <input class="edit_file" type="text" id="email" placeholder="редактировать email">
                            <button class="text-field_btn" type="button"><a href="/emailok">ок</a></button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                            <label>Должность:</label>
                    </td>
                    <td>
                        <span th:text="${employee.post.post}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                            <label>Проект:</label>
                    </td>
                    <td>
                        <span th:text="${employee.project.projectName}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label>Телефон:</label>
                    </td>
                    <td>
                        <span th:text="${employee.user.phone}"></span>
                    </td>
                    <td>
                        <div class="text-field_group">
                            <input class="edit_file" type="text" id="phone" placeholder="редактировать номер">
                            <button class="text-field_btn" type="button"><a href="/phoneok">ок</a></button>
                        </div>
                    </td>
                </tr>
                <!--<tr>
                    <td>
                        <label>Тэги:</label>
                    </td>
                    <td>
                        <div class="table">
                            <div>
                                <table id="tagTable" class="table">
                                    <tbody>
                                    <tr th:each="tag:${employee.tags}">
                                        <td th:text="${tag.tag}"></td>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </td>
                    <td></td>
                    <td>
                    </td>
                </tr>-->
                </tbody>
            </table>

            //TODO вывести теги по конкретному кандидату
            <!--            <table class="table_info">-->
            <!--                <tbody>-->
            <!--&lt;!&ndash;                <tr th:each="employees:${employees}">&ndash;&gt;-->
            <!--                <tr>-->
            <!--                    <td th:each="tagemp:${employees.tags}"-->
            <!--                    th:text="${tagemp.id} + ' ' + ${tagemp.tag} + ' ' + ${tagemp.criterion}">-->
            <!--                    </td>-->
            <!--                </tr>-->
            <!--                </tbody>-->
            <!--            </table>-->

            <div class="tabs_change tabs_change">
                <label for="tagemp">Добавить теги:</label>
                <select type="text" id="tagemp" class="popup_field" required autocomplete="off">
                    <option
                            th:each="tagall:${tag}"
                            th:text="${tagall.tag}">
                    </option>
                </select>
                <button class="popup_button" type="submit"><a href="/addtagemp">добавить</a></button>
            </div>
        </div>
<!--            <div>-->
<!--                <button class="popup_button" type="submit"><a href="/empok">ОК</a></button>-->
<!--            </div>-->
        </div>
    </div>
    <script src="/popup.js/"></script>
    </body>
</form>
</html>