<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action="@{info/employeehr/{id}(id=${employeehr.id})}" th:object="${employeehr}" method="post">
    <head>
        <meta charset="UTF-8">
        <meta username="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/style.css/"/>
        <title>ИНФО</title>
    </head>
    <body>
    <div class="popup_body">
        <div class="popup_content">
            <a href="/close" class="popup_close close-popup">X</a>
            <div class="popup_title">Информация о сотруднике</div>
            <table class="table_info">
                <tbody>
                <tr>
                    <td>
                        <label>ID:</label>
                    </td>
                    <td>
                        <span th:text="${employeehr.employee.id}">ID:</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Фамилия:</label>
                    </td>
                    <td>
                        <span th:text="${employeehr.employee.user.surname}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Имя:</label>
                    </td>
                    <td>
                        <span th:text="${employeehr.employee.user.username}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Отчество:</label>
                    </td>
                    <td>
                        <span th:text="${employeehr.employee.user.fathersName}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Почта:</label>
                    </td>
                    <td>
                        <span th:text="${employeehr.employee.user.email}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Должность:</label>
                    </td>
                    <td>
                        <span th:text="${employeehr.employee.post.name}"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Телефон:</label>
                    </td>
                    <td>
                        <span th:text="${employeehr.employee.user.phone}"></span>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button class="tabs_change tabs_change" type="button"><a th:href="'/employeehr/edit/'+${employeehr.id}" class="not_line_href_black"
                                                                href="/phoneokcand">Редактировать информацию</a>
                </button>
            </div>
        </div>
    </div>
    </div>
    <script src="/popup.js/"></script>
    </body>
</form>
</html>
