<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<form action="#" th:action="@{/infocand/{id}(id=${candidate})}" th:object="${candidate}" method="post">
    <head>
        <meta charset="UTF-8">
        <meta username="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/style.css/"/>
        <title>ИНФО</title>
    </head>
    <body>
    <!--    <div id="popup_3" class="popup">-->
    <div class="popup_body">
        <div class="popup_content">
            <a href="/closex" class="popup_close close-popup">X</a>
            <div class="popup_title">Информация о кандидате</div>
            <table class="table_info">
                <tbody>
                <tr>
                    <td>
                        <label>ID:</label>
                    </td>
                    <td>
                        <span th:text="${candidate.id}">ID:</span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label>Фамилия:</label>
                    </td>
                    <td>
                        <span th:text="${candidate.user.surname}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label>Имя:</label>
                    </td>
                    <td>
                        <span th:text="${candidate.user.username}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label>Отчество:</label>
                    </td>
                    <td>
                        <span th:text="${candidate.user.fathersName}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label>Почта:</label>
                    </td>
                    <td>
                        <span th:text="${candidate.user.email}"></span>
                    </td>
                    <td>
                        <div class="text-field_group">
                            <input class="edit_file" type="text" id="emailcan" placeholder="введите email">
                            <button class="text-field_btn" type="button"><a class="not_line_href" href="/emailokcand">изменить</a>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Должность:</label>
                    </td>
                    <td>
                        <span th:text="${candidate.post.post}"></span>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>
                        <label>Телефон:</label>
                    </td>
                    <td>
                        <span th:text="${candidate.user.phone}"></span>
                    </td>
                    <td>
                        <div class="text-field_group">
                            <input class="edit_file" type="text" id="phonecand" placeholder="введите номер">
                            <button class="text-field_btn" type="button"><a class="not_line_href" href="/phoneokcand">изменить</a>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Тэги:</label>
                    </td>
                    <!--                    <td>-->
                    <!--                        <div class="table">-->
                    <!--                            <div>-->
                    <!--                                <table id="tagTable" >-->
                    <!--                                    <tbody>-->
                    <!--                                    <tr th:each="tag:${candidate.tags}">-->
                    <!--                                        <td th:text="${tag.tag}"></td>-->
                    <!--                                    </tbody>-->
                    <!--                                </table>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </td>-->
                    <td></td>
                    <td>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="table_and_search">
                <table class="table_info_tag">
                    <tbody>
                    <tr th:each="tag:${candidate.tags}">
                        <td th:text="${tag.name}"></td>
                    </tbody>
                </table>

                <div class="search">
                    <label for="tagcand">Добавить теги:</label>
                    <select type="text" id="tagcand" class="popup_field" required autocomplete="off">
                        <option
                                th:each="tag:${tags}"
                                th:text="${tag.name}">
                        </option>
                    </select>
                    <button class="text-field_btn" type="submit"><a class="not_line_href" href="/addtagcand">добавить</a></button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="/popup.js/"></script>
    </body>
</form>
</html>