<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <title>Задачи</title>
</head>
<body>
<div class="wrapper">
    <div class="contents">
        <div class="tabs">
            <header id="header" class="header lock-padding">
                <nav class="tabs_items">
                    <a href="menu.html" class="tabs_item"><span>Меню</span></a>
                    <a href="#tab_task" class="tabs_item"><span>Задачи</span></a>
                    <a href="employee.html" class="tabs_item"><span>Сотрудники</span></a>
                    <a href="candidate.html" class="tabs_item"><span>Соискатели</span></a>
                    <a href="team.html" class="tabs_item"><span>Сбор Команды</span></a>
                </nav>
            </header>
            <div class="tabs_body">
                <div id="tab_menu" class="tabs_block"></div>
                <div id="tab_task" class="tabs_block">
                    <div><a href="#popup" class="tabs_addTask popup-link"> Создать задачу</a>
                    </div>
                    <table id="taskTable" class="table">
                        <thead>
                        <tr>
                            <th onclick="sortTableTask(0)">Дата создания</th>
                            <th onclick="sortTableTask(1)">Исполнитель</th>
                            <th onclick="sortTableTask(2)">Задача</th>
                            <th onclick="sortTableTask(3)">Лид</th>
                            <th onclick="sortTableTask(4)">Статус</th>
                            <th onclick="sortTableTask(5)">Дэдлайн (желаемый)</th>
                            <th onclick="sortTableTask(6)">Факт. дата завершения</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>11.08.2020</td>
                            <td>Краснова Мария</td>
                            <td>Подписать</td>
                            <td>Сидоров Анатолий Иванович</td>
                            <td> выполнено</td>
                            <td>21.08.2020</td>
                            <td>18.08.2020</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab_employee" class="tabs_block"></div>
                <div id="tab_candidate" class="tabs_block"></div>
                <div id="tab_team" class="tabs_block"></div>
            </div>
        </div>
    </div>
</div>
</body>
<div id="popup" class="popup">
    <div class="popup_body">
        <div class="popup_content">
            <a href="#" class="popup_close close-popup">X</a>
            <div class="popup_title">Создать задачу</div>
            <div class="popup_text">
                <div>
                    <label for="executor">Исполнитель:</label>
                    <!--                    <input type="text" id="executor" class="popup_field" required autocomplete="off">-->
                    <select type="text" id="executor" class="popup_field" required autocomplete="off">
                        <option>Сюда подключить сотрудников HR из БД</option>
                    </select>
                </div>
                <div>
                    <label for="start_date">Дата начала:</label>
                    <!--                    <input type="text" id="start_date" requiredautocomplete="off">-->
                    <!--                    <input type="text" id="start_date" value="" size="10" onClick="xCal(this)" onmouseenter="xCal(this)" onKeyUp="xCal()">-->
                    <input type="date" id="start_date" class="popup_field" name="date">
                </div>
                <div>
                    <label for="deadline">Дэдлайн:</label>
                    <!--                    <input type="text" id="deadline" required autocomplete="off">-->
                    <input type="date" id="deadline" class="popup_field" name="date">
                </div>
                <div>
                    <label for="task">Задача:</label><input type="text" id="task" class="popup_field" required
                                                            autocomplete="off">
                </div>
                <div>
                    <label for="select_lid">Выбор лида:</label>
                    <!--                    <input type="text" id="select_lid" class="popup_field" required autocomplete="off">-->
                    <select type="text" id="select_lid" class="popup_field" required autocomplete="off">
                        <option>Сюда подключить всех человеков</option>
                    </select>
                </div>
                <div>
                    <button class="popup_button" type="submit">Создать задачу</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/popup.js"></script>
</html>