<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta username="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css/"/>
    <title>Задачи</title>
</head>
<body>
<div class="wrapper">
    <div th:switch="${tasks}" class="contents">
        <div class="tabs">
            <header th:insert="blocks/header :: header"> </header>
            <div class="tabs_body">
                <div id="tab_menu" class="tabs_block"></div>
                <div id="tab_task" class="tabs_block">
                    <div th:insert="popups/popup-create-task :: popup-create-task"></div>
                    <table id="taskTable" class="table">
                        <thead>
                        <tr>
                            <th onclick="sortTableTask(0)">Дата создания</th>
                            <th onclick="sortTableTask(1)">Исполнитель</th>
                            <th onclick="sortTableTask(2)">Задача</th>
                            <th onclick="sortTableTask(3)">Лид</th>
                            <th onclick="sortTableTask(4)">Статус</th>
                            <th onclick="sortTableTask(5)">Дэдлайн (желаемый)</th>
                            <th onclick="sortTableTask(6)">Факт. дата завершения</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="task:${tasks}">
                            <td th:hidden="${task.id}" th:id="'taskId'+${task.id}" ></td>
                            <td th:text="${task.dateCreation}"></td>
                            <td th:text="${task.executor.employee.user.surname}+ ' ' + ${task.executor.employee.user.username} + ' ' + ${task.executor.employee.user.fathersName}"></td>
                            <td th:text="${task.task}"></td>
                            <td th:text="${task.lid.surname} + ' ' + ${task.lid.username} + ' ' + ${task.lid.fathersName}"></td>
                            <!--<td th:text="${task.status.taskName}"></td>-->
                            <td>
                                <select class="form-control" th:id="'statusTask'+${task.id}" th:name="statusTask">
                                <option th:each="status : ${taskStatuses}"
                                        th:value="${status}"
                                        th:text="${status.taskName}"
                                        th:selected="${task.isSelectedStatus(status)}"
                                        th:data-id="${status.id}">
                                </option>
                            </select>
                            </td>
                            <td th:text="${task.dateDeadline}"></td>
                            <td th:text="${task.dateActualCompletion}" th:name="dateActualCompletion" th:id="'dateActualCompletion'+${task.id}"></td>
                            <td><a th:href="'/infotask/'+ ${task.id}" class="tabs_info_user tabs_info_user">ИНФО</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab_employee" class="tabs_block" ></div>
                <div id="tab_candidate" class="tabs_block"></div>
                <div id="tab_team" class="tabs_block"></div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="/popup.js/"></script>
<script src="/dateFormatter.js/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $(".form-control").change(function () {
            var id = $(this).attr("id");
            let strNewId = id.substring(id.indexOf("statusTask") + "statusTask".length, id.length);
            dateId = "#" + 'dateActualCompletion' + strNewId;
            if($("option:selected", this).attr("data-id")=="3") {
                $(dateId).text(formatDate(Date()));
            }
            else{
                $(dateId).text("");
            }

            var data = {}
            /*data["id"] = strNewId;
            data["statusId"] = $("option:selected", this).attr("data-id");
            data["date"] = $(dateId).text();*/
            $.post("/task/updateDate", {
                "id" : strNewId,
                "statusId" : $("option:selected", this).attr("data-id"),
                "date" : $(dateId).text()
            }, function(data) {
                ;
            });
        });
    });

</script>
</html>