<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta username="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/style.css/"/>
    <title>Сбор команды</title>
</head>
<body>
<div class="wrapper">
    <div class="contents">
        <div class="tabs">
            <header th:insert="blocks/header :: header"></header>
            <div class="tabs_body">
                <div id="tab_menu" class="tabs_block"></div>
                <div id="tab_task" class="tabs_block"></div>
                <div id="tab_employee" class="tabs_block"></div>
                <div id="tab_candidate" class="tabs_block"></div>
                <div id="tab_team" class="tabs_block">
                    <div class="search">
                        <div class="table_and" th:insert="popups/popup-changeTag :: popup-changeTag"></div>
                        <div class="table_and" th:insert="popups/popup-searchteam :: popup-searchtaem"></div>
                    </div>

                    <table th:each="map, post:${postname}" id="" class="table">
                        <caption th:utext="post"></caption>
                        <thead>
                        <tr>
                            <td>ФИО</td>
                            <td>Должность</td>
                            <td>Статус</td>
                            <td th:each="map, tags ${tag} "
                                    th:utext="${tags}"></td>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="lid:${lid} ">
                            <td th:utext="${lid.surename} + ${lid.username} + ${lid.fathersname}" ></td>
                            <td th:utext="${lid.post.name}"></td>
                            <td th:utext="${lid.status.name}"></td>
                            <td th:each="map, tags ${tag} "
                                th:utext="${lid.tag.level}+'/'+ ${tag.level}"></td>

                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/popup.js/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">


</script>
</body>
</html>
