<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/view/managerHR/ManagerHRStyle.css"/>
    <title>Рабочее окно для руководителя HR</title>
</head>
<body>
<div class="wrapper">
    <div class="contents">
        <div class="tabs">
            <nav class="tabs_items">
                <a href="#tab_menu" class="tabs_item"><span>Меню</span></a>
                <a href="#tab_task" class="tabs_item"><span>Задачи</span></a>
                <a href="#tab_employee" class="tabs_item"><span>Сотрудники</span></a>
                <a href="#tab_candidate" class="tabs_item"><span>Соискатели</span></a>
                <a href="#tab_team" class="tabs_item"><span>Сбор Команды</span></a>
                <a href="#tab_exit" class="tabs_item"><span>Выход</span></a>
            </nav>
            <div class="tabs_body">
                <div id="tab_menu" class="tabs_block">
                    Тут будет профиль
                </div>
                <div id="tab_task" class="tabs_block">
                    <div><a target="_blank" href="../task/CreateTask.html" class="tabs_addTask"> Создать задачу</a></div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Дата создания</th>
                            <th>Испонитель</th>
                            <th>Задача</th>
                            <th>Лид</th>
                            <th>Статус</th>
                            <th>Дэдлайн (желаемый)</th>
                            <th>Факт. дата завершения</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>11.08.2020</td>
                            <td>Беглова Ольга</td>
                            <td>Позвонить</td>
                            <td>Петров Петр Петрович</td>
                            <td>не выполнено</td>
                            <td>21.08.2020</td>
                            <td>-</td>

                        </tr>
                        <tr>
                            <td>11.08.2020</td>
                            <td>Беглова Ольга</td>
                            <td>Позвонить</td>
                            <td>Петров Петр Петрович</td>
                            <td>не выполнено</td>
                            <td>21.08.2020</td>
                            <td>-</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab_employee" class="tabs_block">
                    <div>
                        <a target="_blank" href="" class="tabs_deleteAccount">Удалить аккаунт</a>
                        <a target="_blank" href="../task/CreateTask.html" class="tabs_addAccount">Создать аккаунт</a>
                    </div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ФИО</th>
                            <th>Статус</th>
                            <th>Должность</th>
                            <th>Проект</th>
                            <th>Тэги</th>
                            <th>Навыки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Петров Петр Петрович</td>
                            <td>работает</td>
                            <td>Разработчик</td>
                            <td>Какой-то проект</td>
                            <td>тэг, тэг</td>
                            <td>его навыки</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Сидоров Анатолий Иванович</td>
                            <td>работает</td>
                            <td>Разработчик</td>
                            <td>Какой-то проект</td>
                            <td>тэг, тэг</td>
                            <td>его навыки</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        </tbody>
                    </table>

                </div>
                <div id="tab_candidate" class="tabs_block">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>ФИО</th>
                            <th>Статус</th>
                            <th>Претендуемая должность</th>

                            <th>Тэги</th>
                            <th>Навыки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td>Петров Петр Петрович</td>
                            <td>работает</td>
                            <td>Разработчик</td>

                            <td>тэг, тэг</td>
                            <td>его навыки</td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Сидоров Анатолий Иванович</td>
                            <td>работает</td>
                            <td>Разработчик</td>

                            <td>тэг, тэг</td>
                            <td>его навыки</td>

                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="tab_team" class="tabs_block">
                    Тут будет подбор команды
                </div>
                <div id="tab_exit" class="tabs_block">
                    Тут будет выход из программы
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>