<div th:fragment="popup_acount">

    <div id="popup_2" class="popup">
        <div th:switch="${candidatess}" class="popup_body">
            <div class="popup_content">
                <a href="#" class="popup_close close-popup">X</a>
                <div class="popup_title">Создать аккаунт сотрудника</div>
                <div class="popup_text">
                    <div>
                        <label for="last_name">ФИО:</label>
                        <select id="last_name" class="popup_field" required autocomplete="off">
                            <option th:each="candidate:${candidatess}"
                                    th:value="${candidate}"
                                    th:text="${candidate.id} + ' ' + ${candidate.user.surname} + ' ' + ${candidate.user.username} + ' ' + ${candidate.user.fathersName}">
                        </select>
                    </div>
<!--                    <div>-->
<!--                        <label for="post">Должность:</label>-->
<!--                        <select type="text" id="post" class="popup_field" required autocomplete="off">-->
<!--                            <option>Сотрудник HR</option>-->
<!--                            <option>Руководитель HR</option>-->
<!--                        </select>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <label for="id_employee">ID:</label>-->
<!--                        <input  type="text" id="id_employee" class="popup_field" required autocomplete="off" disabled>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <p><label for="zone_visibility">Зона видимости:</label></p>-->
<!--                        <div>-->
<!--                            <input type="checkbox" id="zone_visibility" required autocomplete="off">-->
<!--                            <label for="zone_visibility">Доступ ко всем сотрудникам</label>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <input type="checkbox" id="zone_visibility1" required autocomplete="off">-->
<!--                            <label for="zone_visibility">Доступ ко всем сотрудникам, кроме руководителей</label>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <input type="checkbox" id="zone_visibility3" required autocomplete="off">-->
<!--                            <label for="zone_visibility">Доступ ко всем сотрудникам, кроме сотрудников HR</label>-->
<!--                        </div>-->
<!--                    </div>-->
                    <div>
                        <button class="popup_button" type="submit">Создать аккаунт сотрудника</button>
                    </div>
                    <!--                </form>-->
                </div>
            </div>
        </div>
    </div>

</div>